.carouselContainer {
  width: 100%;
  height: auto;
  padding: 0 16px;
  margin-top: 15px;
  overflow: hidden;
  cursor: pointer;
}

.carouselContainer.dragging {
  cursor: grabbing;
}

.carouselRow1 {
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.titleWrapper h3 {
  font-size: 18px;
  font-weight: 500;
}

.titleWrapper a {
  color: #7d7879;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: underline;
  cursor: pointer;
}

.card {
  position: relative;
  flex: 0 0 260px;
}

.card img {
  width: 260px;
  height: 312px;
}

.brand {
  font-size: 11px;
  font-weight: 600;
}

.percent {
  color: #f31110;
}

.price {
  font-weight: 700;
}

.product {
  font-weight: 400;
}

.cardInfo {
  padding: 8px 4px 12px 8px;
}

.like {
  position: absolute;
  top: 290px;
  right: 5px;
}

.fs13 {
  font-size: 13px;
}

.flex {
  display: flex;
}
