.appTabContainer {
  display: flex;
  padding: 0 16px;
  font-size: 14px;
  background-color: rgb(26, 27, 31);
  gap: 10px;
}

.appTab {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appTab span {
  max-width: 46px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2줄 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
.normal {
  color: #a4a4a6;
}

.active {
  position: relative;
  color: #ffffff;
  font-weight: 700;
}
.active:after {
  content: '';
  background-color: #fff;
  width: 24px;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 1px;
}
